@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.Buttonjs {
	margin-top: 40px;
	color: var(--negro);
	height: 60px;
	width: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: none;
	background-color: var(--cyan);
	font-family: Barlow, sans-serif;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 1.2;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
.Buttonjs:hover {
	background: var(--cyanHover);
}
.Buttonjs:hover > img {
	margin: 0 0 0 10px;
}
.Buttonjs > * {
	margin: 0 7px;
}
.Buttonjs > p {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
.Buttonjs > img {
	width: 20px;
	height: 20px;
	display: block;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}