@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
	--negro: #131218;
	--gris: #24232b;
	--cyan: #25ebcd;
	--amarillo: #f8ce60;
	--tooltip: #333;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var( --negro );
}

#root {
	display: flex;
	justify-content: center;
}
section#passtrong {
	font-size: calc(10px + 2vmin);
	color: white;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 60px;
	width: 410px;
	padding: 20px 0px;
}
section#passtrong header {
	width: 100%;
	display: flex;
}
section#passtrong header > img {
	width: 86%;
	margin: 0 auto 20px;
}
section#passtrong > aside {
	width: 100%;
}
section#passtrong > aside .bloque {
	background-color: var( --gris );
	margin-bottom: 20px;
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section#passtrong > aside .passwordGenerada input.password {
	height: 40px;
	width: 100%;
	padding: 6px 10px;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: .76em;
	border: none;
}
section#passtrong > aside .passwordGenerada input.eloculto {
	position: absolute;
	left: -9999px;
}
section#passtrong > aside .passwordGenerada button {
	background: none;
	border: none;
	position: relative;
}
section#passtrong > aside .passwordGenerada button img {
	width: 30px;
	margin-left: 10px;
	cursor: pointer;
}
section#passtrong > aside .passwordGenerada button .tooltip {
	background: var(--tooltip);
	color: white;
	position: absolute;
	width: 100px;
	top: 0px;
	right: -130px;
	padding: 10px;
	border-radius: 6px;
}
section#passtrong > aside .passwordGenerada button .tooltip .triangulo {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid var(--tooltip);
	margin: 0 0 15px 0;
	position: absolute;
	left: -10px;
	top: 8px;
}
section#passtrong > aside .passwordGenerada button .tooltip.copiar {
	display: none;
	width: 100px;
}
section#passtrong > aside .passwordGenerada button:hover .tooltip.copiar {
	display: block;
}
section#passtrong > aside .passwordGenerada button .tooltip.copiado {
	display: none;
	background-color: var(--cyan);
	color: var( --negro );
	width: 70px;
	right: -100px;
}
section#passtrong > aside .passwordGenerada button .tooltip.copiado .triangulo {
	border-right: 10px solid var(--cyan);
}
section#passtrong > aside .restricciones {
	display: flex;
	flex-direction: column;
}
section#passtrong > aside .restricciones .rango {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}
section#passtrong > aside .restricciones .rango > p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 0 0;
}
section#passtrong > aside .restricciones .rango > p > span {
	font-size: 0.7em;
	letter-spacing: 0.05em;
}
section#passtrong > aside .restricciones .rango > p > span.elrangito {
	color: var( --cyan );
	font-size: 1em;
}
section#passtrong > aside .restricciones .rango > label input {
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	font-family: Arial, sans-serif;
}
section#passtrong > aside .restricciones .rango > label input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	margin-right: 15px;
	width: 100%;
	height: 7px;
	background: var(--negro);
	border-radius: 5px;
	background-image: linear-gradient(#25ebcd, #25ebcd);
	background-size: 70% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-ms-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-webkit-slider-thumb:hover {
	background: #ccc;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-moz-range-thumb:hover {
	background: #ccc;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-ms-thumb:hover {
	background: #ccc;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-webkit-slider-runnable-track{
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-moz-range-track {
	appearance: none;
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
section#passtrong > aside .restricciones .rango > label input[type="range"]::-ms-track {
	appearance: none;
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
section#passtrong > aside .restricciones .requisitos {
	display: flex;
	flex-direction: column;
	width: 100%;
}
section#passtrong > aside .restricciones .requisitos label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
section#passtrong > aside .restricciones .requisitos label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
section#passtrong > aside .restricciones .requisitos label .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 21px;
	width: 21px;
	border: 3px solid white;
}
section#passtrong > aside .restricciones .requisitos label:hover input ~ .checkmark {
	background-color: cyan;
	border: 3px solid var(--cyan);
}
section#passtrong > aside .restricciones .requisitos label input:checked ~ .checkmark {
	background-color: var(--cyan);
	border: 3px solid var(--cyan);
}
section#passtrong > aside .restricciones .requisitos label .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
section#passtrong > aside .restricciones .requisitos label input:checked ~ .checkmark:after {
	display: block;
}
section#passtrong > aside .restricciones .requisitos label .checkmark:after {
	 top: 2px;
	left: 1px;
	width: 20px;
	height: 19px;
	background-image: url("./assets/svg/check.svg");
	background-repeat: no-repeat;
}

















































































/*
section#passtrong .restricciones ,
section#passtrong .restricciones > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section#passtrong .restricciones > .requisitos > label {
	cursor: pointer;
}
section#passtrong .restricciones > .requisitos > label[for="range"] > span {
	font-size: .8em;
}
*/