:root {
	--negro: #272626;
	--aprobado: #2da44e;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.App-header section {
	border: 1px solid #010508;
	padding: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section {
	/* overflow: hidden; */
	position: relative;
}
.restricciones ,
.restricciones > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.restricciones > .requisitos > label {
	cursor: pointer;
}
.restricciones > .requisitos > label[for="range"] > span {
	font-size: .8em;
}
section .passwordGenerada {
	margin-bottom: 20px;
	display: flex;
}
section .passwordGenerada input.password {
	height: 40px;
	padding: 6px 10px;
	background-color: white;
}
section .passwordGenerada input.eloculto {
	position: absolute;
	left: -9999px;
}
section .passwordGenerada button {
	background: none;
	border: none;
	position: relative;
}
section .passwordGenerada button img {
	width: 30px;
	margin-left: 10px;
	cursor: pointer;
}
section .passwordGenerada button .tooltip {
	background: var(--negro);
	color: white;
	position: absolute;
	width: 100px;
	top: 10px;
	right: -130px;
	padding: 10px;
	border-radius: 6px;
}
section .passwordGenerada button .tooltip .triangulo {
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid var(--negro);
	margin: 0 0 15px 0;
	position: absolute;
	left: -10px;
	top: 8px;
}
section .passwordGenerada button .tooltip.copiar {
	display: none;
	width: 100px;
}
section .passwordGenerada button:hover .tooltip.copiar {
	display: block;
}
section .passwordGenerada button .tooltip.copiado {
	display: none;
	background-color: var(--aprobado);
	width: 70px;
	right: -100px;
}
section .passwordGenerada button .tooltip.copiado .triangulo {
	border-right: 10px solid var(--aprobado);
}